@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 35vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.play-list {
  text-align: left;
}

.play-progress {
  width: 100%;
  height: 7.5px;
  background-color: rgba(235, 235, 235, 0.315);
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 3px;
}

.play-timer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 0;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume {
  background-image: url("../assets/svg/volume.svg");
}

.volume-mute {
  background-image: url("../assets/svg/volueme-mute.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.icon-temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}
/*
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  min-height: 160px;  
  padding: 20px;
}
*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 110px;  
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 5px;
  padding-right: 5px;
}

.todo-list {
  font-size: 30px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.todo-list:hover {
  color: rgb(198, 189, 189);
}

.todo-list:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.todo {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 300px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 4px rgb(0 0 0 / 30%);
  border-radius: 15px;
  padding: 17px;
  opacity: 0;
  z-index: -10;
  transition: 0,8s;
}

.todo::-webkit-scrollbar {
  width: 0px;
}

.todo-active {
  opacity: 1;
  z-index: 10;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.todo-text {
  font-size: 1rem;
  color: rgb(235, 231, 231);
  outline: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.todo-options {
  border: 0;
  font-size: 1rem;
  color: rgb(235, 231, 231);
  outline: 0;
  background-color: transparent;
}

.todo-option {
  color: black;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-trash {
  background: url(../assets/svg/delete.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}

.todo-item:hover .todo-trash {
  opacity: 1;
} 

li {
  list-style-type: none;
}

.todo-content {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

input[type="checkbox"]:checked + span {
  color: rgb(121, 119, 119);
  text-decoration: line-through;
}

.text-span {
  width: 200px;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
}

.settings-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/settings.svg");
}

.set-icon {
  padding-bottom: 7px;
  padding-left: 10px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.setting-list {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  transition: .7s all linear;
}

.popup-active {
  z-index: 100;
  transition: .1s all linear;
}

.popup-settings {
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  box-shadow: 7px rgb(0 0 0 / 30%);
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  transform: translateY(-400%);
  transition: 0.7s all linear;
  z-index: 100;
}

.popup-settings-active {
  transform: translateY(0%);
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  width: 100%;
  gap: 10px;
  opacity: .8;
}

.setting {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup-title {
  font-size: 25px;
  margin: 10px 0;
}

.change-setting {
  cursor: pointer;
}

.change-setting:hover {
  transform: scale(1.2);
  color: rgb(251, 251, 251);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.485);
  opacity: 0;
  transition: 1s;
}

.popup-overlay-active {
  opacity: .7;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

.footer-item.quotes {
  visibility: hidden;
}

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 440px) {

  .main {
    margin-top: 60px;
    height: auto;
  }

  .header {
    height: auto;
    align-items: stretch;
  }

  .weather {
    align-items: flex-end;
  }
  .time {
    font-size: 48px;
  }
  .greeting-container, .name {
    font-size: 24px;
  }
  .city {
    font-size: 15px;
  }
  .greeting {
    display: block;
    text-align: center;
  }

  .name {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  .city {
    max-width: 100px;
  }

  .todo {
    position: fixed;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
    z-index: -10;
  }
  
  .todo-active {
    opacity: 1;
    z-index: 10;
  }
}

